<div class="container d-flex flex-wrap justify-content-center align-items-center mt-5">

<% @groups.each do |group| %>




<%# -------------------- %>
<div class=" m-2  d-flex justify-content-around align-items-center" >
<div class="ui card" style="width: 40rem;">
  <div class="content">
    <h2 class="ui">
  <img src="https://media.istockphoto.com/photos/business-people-having-a-meeting-picture-id1015934018?k=20&m=1015934018&s=612x612&w=0&h=9Q6gt-coI62h0uqok1FReHMhN_-M7ZhvyrTxNdEqGgg=" class="ui rounded image">

 <p class="text-dark mt-2" ><%= link_to group.title, group_path(group), style:"text-decoration: none; color: black" %></p>
            
</h2>
    <div class="meta">

      <% if group.memberships.count > 0 %>
      <span class="category"><%=group.memberships.count%>  <%= "member".pluralize(group.memberships.count) %> </span>
      <% else %>
         <span class="category">No members yet!</span>
      <% end %>

    </div>
    <div class="description">
      <p><%= group.description %></p>
    </div>
  </div>
  <div class="extra content">

    <div class="right floated author">
      <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/large/molly.png"><%= group.user.full_name %>
    </div>
  </div>
</div>
</div>

<% end %>


</div>
