<% if @membership.present? %>
<div class="container">
    <div class="row">
        <div class="col-8 col-md-8 col-sm-6">
           <%# left starts %>
           <%# new post %>
    <div class="container card shadow p-3 mb-5 bg-white rounded m-4" >
    
                <h2>New Post</h2>
                     <%= render "post_form" %>
                <% end %>
        </div>
           <%# new post %>
  <% if @membership.present? %>         
 <div class="">
    <% @group_posts.each do |group_post| %>
    <div class="container card shadow p-3 mb-5 bg-white rounded m-4" >
        <div class="ui comments">
        <div class="comment">
                <a class="avatar">
                <img src="<%= group_post.user.profile_img_url%>">
                </a>
                <div class="content">
                <a class="author">
                <%= link_to user_path(group_post.user.id), class:"text-dark " do %>
                <%= group_post.user.full_name%>
                <% end %>
                </a>
                <div class="metadata">
                    <span class="date"><%= time_ago_in_words(group_post.created_at) %> ago</span>
                </div>
                </div>
        </div>
        </div>
        <div><%= group_post.body %></div>
        <%   if group_post.image.attached? && group_post.image.content_type.in?(%w[image/jpeg image/png image/gif])%>
             <%= link_to image_tag(group_post.image_as_thumbnail), group_post.image %>
        <% end %>
       <br>
        <small>
        <% like = group_post.likes.find_by(user: current_user) %>
            <% if like.present? %>
                <%= button_to "â¤ï¸", like_path(like), method: :delete, class:"ui icon button" %>
                <% elsif user_signed_in? %>
                <%= button_to "ðŸ¤", group_group_post_likes_path(@group.id, group_post.id), method: :post, class:"ui icon button" %>
            <% end%>
        </small>
        <% if group_post.likes.present? %>
        <span><%= group_post.likes.count%> <%= 'Like'.pluralize(group_post.likes.count) %></span>
        <% else %>
        <span>Be the first to like</span>
        <% end %>
        </hr>
        </hr>
        <div>
             <%= form_with(model:[@group, group_post, @comment]) do |f| %>
            <div class="form-group">
             <%= f.label "Leave a Comment" %>
             <br>
             <%= f.text_area :body, cols: 50, rows: 1, class:"form-control" %>
              <br>
             </div>
          <%= f.submit "Post", class:"ui primary button" %>

            <div class="ui comments">
    <%# Comment Section starts%>
        <% if group_post.comments.any? %>
            <h3 class="ui dividing header"></h3>
             <% group_post.comments.order(created_at: :desc).each do |comment|%>

            <div class="comment">
                <a class="avatar">
                <img src="<%= comment.user.profile_img_url%>">
                </a>
                <div class="content">
                <a class="author">
                <%= link_to user_path(comment.user.id) do %>
                <%= comment.user.full_name%></a>
                <% end %>
                <div class="metadata">
                    <span class="date"><%= time_ago_in_words(comment.created_at) %> ago</span>
                </div>
                <div class="text">
                    <%= comment.body %>
                </div>
                </div>
            </div>
            <% end %>
        <% end %>
    <%# Comment Section ends %>
</div>
    <% end %>
        </div>
    </div>
<% end %>
</div>
            <%# left ends %>
            </div>
        <div class="col-4 col-md-4 col-sm-6">
           <%# right starts %>
            <% if @membership.present? %>  
        <%#---------- group info starts ---------%>
        <div class="card container card shadow p-3 mb-5 bg-white rounded m-4" >
         <img src="<%= @group.img_url %>" class="ui rounded image"/>
            <h1><%= @group.title %></h1>
            <p><%= @group.description %></p>
            <p>Created by <%= @group.user.full_name %></p>
    
            <% if @group.address? %>
            <span><i class="map pin icon"></i><%= @group.address.capitalize() %></span>
            <% end %>
            <br>
            <p><%= @group.memberships.count %>  <%= "member".pluralize(@group.memberships.count) %>  Â·
 
            <%= @group.group_posts.count %> <%= "post".pluralize(@group.group_posts.count) %>
            </p>
            <small>
            <% if @membership.present? %>
                <%= button_to "Leave Group", membership_path(@membership), method: :delete, class:"ui red button p-3" %>
                <% elsif user_signed_in? %>
                <%= button_to "Join Group", group_memberships_path(@group), method: :post, class:"ui button p-3" %>
            <% end%>
            </small>
            <% if @group.user == current_user %>
            <br>
            <small><%= link_to "Edit Group", edit_group_path(@group), class:"ui button p-3" %></small>
            <% end %>

        </div>
        <%# --------group info ends ----------%>
        <%# --------map starts----------%>
        <% if @group.longitude && current_user.longitude %>
        <div class="card container card shadow p-3 mb-5 bg-white rounded m-4 r" >
            <h1>Location</h1>
            <p><%= number_with_delimiter(@distance, :delimiter => ',') %> km away from your current location</p>
            <div class="d-flex justify-content-center">
            <div id="map" style='width: 18em; height: 12em;'></div>
            </div>
        </div>
        <% end %>
           <%# --------map ends----------%>
        <% end %>
         <% if @membership.present? %>  
        <%# --------members start ----------%>
        <div class="card container card shadow p-3 mb-5 bg-white rounded m-4" >

            <h1>Members</h1>
            <% if @members.present? %>
                <div class="ui comments">
                <% @members.each do |member| %>
                    <div class="comment">
                        <a class="avatar">
                        <img src="<%= member.user.profile_img_url %>">
                        </a>
                        <div class="content">
                        <a class="author">
                    <%= link_to user_path(member.user), class:"text-dark " do %>
                        <%= member.user.full_name%>
                    <% end %>
                        </a>
                        <div class="text">
                        <%= member.created_at.strftime("Joined %B %Y") %>
                        </div>
                        </div>
                    </div>
                <% end %>
                 </div>
            <% end %>
        </div>
        <% end %>
            <%# --------members ends ----------%>
            <%# right ends %>
        </div>
    </div>
</div>

<%# If user is not a member %>
<% else %>
        
       <div class="container justify-content-center align-items-center d-flex">
        <div class="card container card shadow p-3 mb-5 bg-white rounded m-4" style="width: 40em">
            <div class="content">
            <img src="<%= @group.img_url %>" class="ui rounded image"/>
          
            <h1><%= @group.title %></h1>
            <p><%= @group.description %></p>
            <p>Created by <%= @group.user.full_name %></p>
            <p><%= @group.memberships.count %>  <%= "member".pluralize(@group.memberships.count) %>  Â·
 
            <%= @group.group_posts.count %> <%= "post".pluralize(@group.group_posts.count) %>
            </p>
            <% if @group.address %>
            <span><i class="map pin icon"></i><%= @group.address.capitalize() %></span>
            <br><br>
            <% if current_user.longitude %>
             <p><%= number_with_delimiter(@distance, :delimiter => ',') %> km away from your current location</p>
            <% end %>
            <% end %>
            <small>
            <% if @membership.present? %>
                <%= button_to "Leave Group", membership_path(@membership), method: :delete, class:"ui red button p-3" %>
                <% elsif user_signed_in? %>
                <%= button_to "Join Group", group_memberships_path(@group), method: :post, class:"ui button btn btn-dark  p-3 mt-2" %>
            <% end%>
            </small>
            </div>
        </div>
        </div>
<% end %>


<script>
    //This is to create the map
    //see this documentation: https://github.com/apneadiving/Google-Maps-for-Rails

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
        {
        "lat": <%= @group.latitude %>, 
        "lng": <%= @group.longitude %>,  
        "picture": {
            "width":  2,
            "height": 2
        },
        "infowindow": "<%= @group.address %>"
        }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(8); //we are adding this to zoom in a bit
});
</script>

