<div>Group Show Page</div>


<div>
    <h2><%= @group.title %></h2>
    <p><%= @group.description %></p>
    <p>Admin: <%= @group.user.first_name %></p>
     <small>
    <% membership = current_user.memberships.find_by(group: @group) %>
      <% if membership.present? %>
         <%= button_to "Leave Group", membership_path(membership), method: :delete, class:"ui red button btn btn-danger text-uppercase p-3" %>
         <% elsif user_signed_in? %>
        <%= button_to "Join Group", group_memberships_path(@group), method: :post, class:"btn btn-dark text-uppercase p-3" %>
     <% end%>
    </small>

</div>



<div>
    <h1>Members:</h1>
    <% memberships = Membership.where(group: @group) %>
    <% if memberships.present? %>
        <% memberships.all.each do |membership| %>
        <p><%= membership.user.first_name %> </p>
        <% end %>

    <% end %>
</div>



<div>
    <h2>New Post</h2>
        <%= form_with(model:[@group, @group_post]) do |f| %>
         <div class="form-group">
        <%= f.label :body %>
        <br>
        <%= f.rich_text_area :body, cols: 50, rows: 5, class:"form-control" %>
        <br>
        </div>
         <div class="form-group">
        <%= f.label :image %>
        <br>
        <%= f.file_field :image, class:"form-control" %> 
         <%= content_tag(:i, nil, id: 'audio-record-button', class:'bi bi-mic microphone-icon') %>
        <br>
        </div>

       

    <br>
        <%= f.submit "Post", class:"btn btn-primary" %>
    <br>
    <% end %>
</div>


<div>Group Posts:</div>
<div>
    <% @group_posts.each do |group_post| %>
    <div class="card m-2 p-2 d-flex justify-content-around align-items-center" style="width: 18rem;">
        <p><%= group_post.body %></p>
        <p>Posted by: <%= group_post.user.first_name %></p>
        <%   if group_post.image.attached? && group_post.image.content_type.in?(%w[image/jpeg image/png image/gif])%>
             <%= link_to image_tag(group_post.image_as_thumbnail), group_post.image %>
        <% end %>
        </hr>


        <div>
            <p>New Comment</p>
             <%= form_with(model:[@group, group_post, @comment]) do |f| %>
            <div class="form-group">
             <%= f.label :body %>
             <br>
             <%= f.text_area :body, cols: 50, rows: 2, class:"form-control" %>
              <br>
             </div>
             <br>
          <%= f.submit "Post", class:"btn btn-primary" %>
    <br>
    <% end %>
            
        </div>


        <% group_post.comments.each do |comment|%>
            <div class="card p-3 m-3">
              <p><%= comment.user.first_name%>    says: <%= comment.body %></p> 
            </div>
        <% end %>
        </hr>
    </div>
<% end %>
</div>