
<%= form_with(model: @user) do |f| %>
    <div class="form-outline mb-4">
        <%= f.label :first_name, class: "form-label"%>
        <%= f.text_field :first_name, class: "form-control form-control-lg"%>
    </div>
    <div class="form-outline mb-4">
        <%= f.label :last_name, class: "form-label"%>
        <%= f.text_field :last_name, class: "form-control form-control-lg"%>
    </div>
    <div class="form-outline mb-4">
        <%= f.label :email, class: "form-label"%>
        <%= f.text_field :email, class: "form-control form-control-lg"%>
    </div>
        <div class="form-outline mb-4">
        <%= f.label :address, "City or Address", class: "form-label"%>
        <%= f.text_field :address, class: "form-control form-control-lg"%>
    </div>
    <div class="form-outline mb-4">
        <%= f.label :profile_img_url, "Profile Image URL", class: "form-label"%>
        <%= f.text_field :profile_img_url, class: "form-control form-control-lg"%>
    </div>
    <div class="d-flex justify-content-center mt-4">
    <%= f.submit 'Update', class:"ui primary button my-2 my-sm-0"%>
    </div>
<% end %>

