<%# <div class="container m-4 d-flex justify-content-center align-items-center"> %>
<div class="ui link cards flex justify-content-center align-items-start m-4">

    <% @users.each do |user| %>
              <div class="card">
            <div class="image">
              <img src="<%= user.profile_img_url %>">
            </div>
            <div class="content">
              <div class="header"><%= link_to user.full_name, user_path(user), style:"text-decoration: none; color: black" %></div>
              <%# <div class="meta">
                <a>Friends</a>
              </div> %>
            </div>
            <div class="extra content">
              <span class="right floated">
                <%= user.created_at.strftime("Joined in %B %Y") %>
              </span>
              <% if user.friends.count > 0 %>
              <span>
                <i class="user icon"></i>
                 <%= user.friends.count %>
                  <%= "Friend".pluralize(user.friends.count) %> 
              </span>
              <% end %>
            </div>



            <% if current_user && !Invitation.reacted?(current_user.id, user.id) && current_user != user %>
            <div class="ui bottom attached button">
            <i class="add icon"></i>
            <%= link_to 'Add Friend',
            invitations_create_path(ids: {id1: current_user.id, id2: user.id}), method: :post, class:"text-black" %>
          </div>
           <% end %>



          <% if current_user.is_admin %>
            <div class="ui bottom attached button">
           
            
            <%= link_to 'Edit', edit_user_path(user), class:"text-black" %>
          </div>

    



          <% end %>
          </div>

    
    <% end %>

 </div>









<%# </div> %>