<h1>User's show page</h1>

<p><%= @user.first_name %><p>

<h1><%= link_to @user.full_name, user_path(@user), style:"text-decoration: none; color: black" %></h1>

<p>Email: <%=@user.email%></p>

<div>
    <h1>About me: </h1>
    <button class="ui basic button"><i class="icon user"></i><%= link_to "Profile", user_path(@user), style:"text-decoration: none; color: black" %></button>
    <%= button_to "Add Friend", user_path(@user), method: :post, class:"ui active button" %>
</div>
