<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3 pb-0">
    <div class="container h-100 pb-0">
      <div class="container row d-flex justify-content-center align-items-center h-100 pb-0">
        <div class="container col-12 col-md-9 col-lg-7 col-xl-6 pb-0">
          <div class="card m-4" style="">
            <div class="card-body px-5 pt-5 ">
                        <div class="container justify-content-center align-items-center d-flex flex-column">
                        <h1 class="m-0"><%= link_to @user.full_name, user_path(@user), style:"text-decoration: none; color: black" %><h1>               
                          <div class="image mb-3 ">
                          <img src="<%= @user.profile_img_url %>" style="width: 5em"class="rounded"/>
                            </div>
                        <% if @user != current_user && !@user.friend_with?(current_user) && !Invitation.reacted?(current_user.id, @user.id) %>
                        <div class="d-flex justify-content-center align-items-center">
                          <%= link_to 'Add Friend', invitations_create_path(ids: {id1: current_user.id, id2: @user.id}), method: :post, class:"ui button" %>
                        </div>
                        <% end %>
                        </div>
                        <div >
                        <div class="container mt-2 d-flex justify-content-center align-items-center flex-column">
                        <h3>Friends</h3>
                        <div>
                        <% if @user.friends.any? %>
                        
                          <% @user.friends.each do |friend| %>
                              <div class="mx-5 my-2"><i class="user icon"></i><%= link_to friend.first_name, user_path(friend), style:"text-decoration: none; color: black" %>
                              <% if @user == current_user %>
                                <%= link_to 'Unfriend',
                                invitations_destroy_path(invitation_id: Invitation.find_invitation(@user.id, friend.id)), class:"ui button compact mx-2"  %>
                              <% end %>
                              </div>
                          <% end %>                    
                        <% else %>
                        <p>The user has no friends!</p>
                        <% end %>
                        </div>
                          </div>
                          <% if  @user.posts.any?%>            
                          <hr>
                           <div class="container px-4">
                           <h1 >Posts</h1>
                           <div class="ui feed">
                           <% @posts.each do |post| %>
                             <div class="event">
                              <div class="label">
                                <img src="<%= @user.profile_img_url %>">
                              </div>
                              <div class="content">
                                <div class="date">
                                  <%= time_ago_in_words(post.created_at) %> ago
                                </div>
                                <div class="summary">
                                  <%= post.title %>
                                </div>
                                <div class="extra text">
                                  <%= post.description %>
                                </div>
                              </div>
                            </div>
                           <% end %>
                           </div>
                           </div>
                           <% end %>                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


























