<h1>User's show page</h1>

<p>Name: <%= @user.first_name %><p>

  <%   if @user.image.attached? && @user.image.content_type.in?(%w[image/jpeg image/png image/gif])%>
             <%= link_to image_tag(@user.image_as_thumbnail), @user.image %>
        <% end %>

<h1><%= link_to @user.first_name, user_path(@user), style:"text-decoration: none; color: black" %></h1>

<p>Email: <%=@user.email%></p>

<div>
    <h1>About me: </h1>
    
    

        <%= link_to 'Add Friend',invitations_create_path(ids: {id1: current_user.id, id2: @user.id}), method: :post, class:"ui active button" %>
     
</div>


<div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<h3>Friends of <strong> <%= @user.full_name %> </strong> </h3>

<ol>
  <% @user.friends.each do |friend| %>
    <li>
      <%= friend.full_name %>
      <% if @user == current_user %>
        <%= link_to 'Unfriend',
        invitations_destroy_path(invitation_id: Invitation.find_invitation(@user.id, friend.id))  %>
      <% end %>
    </li>
  <% end %>
</ol>



