


<div class="container d-flex flex-wrap justify-content-center align-items-center mt-5">
<div class="ui link cards flex justify-content-center align-items-start m-4">
<% @events.each do |event| %>
<div class="ui card" href="" style="height: 30em">
  <div class="content">
    <h4 class="ui">
  <img href="<%= event_path(event)%>" src="<%= event.img_url %>" class="ui rounded image">
  <p class="text-dark mt-2" ><%= link_to event.title, event_path(event), style:"text-decoration: none; color: black" %></p>          
</h4>
    <div class="meta">
      <span class="category"><%= event.location %></span>
    </div>
    <div class="description">
      <p><%= event.description %></p>
      <p>Event Date: <%= event.date.strftime("%Y-%m-%d %I:%M") %></p>
    </div>
  </div>
  <div class="extra content">

    <div class="right floated author">
      <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/large/molly.png"><%= event.organizer.full_name %>
    </div>
  </div>
</div>
<% end %>
  </div>
  </div>
