<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-8 col-sm-6" style='width: 48em'>
      <%# left starts %>
      <div class="container card shadow p-4 mb-5 bg-white rounded m-4 d-flex align-items-center" >
        <h1><%= @event.title %></h1>
        <img href="<%= event_path(@event)%>" src="<%= @event.img_url %>" class="ui rounded image" style="width: 30em">
        <h3 class="p-2"><%= @event.description %></h3>
        <h4>Date: <%= @event.date.strftime("%Y-%m-%d %I:%M") %></h4>
        <h4>Organized by <%= @event.organizer.full_name %></h4>
        <h4>Address: <%= @event.location.capitalize() %></h4>
        <% if @event.longitude %>

        <div class=" p-4 d-flex align-items-center flex-column" style='width: 35em'>
          <%# <h1>Map</h1> %>
          <div >
            <div id="map" style='width: 30em; height: 20em;' class="p-1 rounded"></div>
          </div>
            <% if current_user.longitude %>
            <div class="mt-2">
            <p><%= number_with_delimiter(@distance, :delimiter => ',') %> km away from your current location</p>
            </div>
          <% end %>
        <% end %>
        </div>
        <% if current_user && @event.organizer != current_user && !@event.attendees.include?(current_user)%>
          <%= button_to "Register", create_attending_event_path(:user_id => current_user.id, :id => @event.id), method: :post, class: "ui button mt-2" %>
        <% elsif current_user && @event.organizer != current_user && @event.attendees.include?(current_user) %>
          <div>You have registered already!</div>
          <%= button_to "Deregister the event", destroy_attending_event_path(current_user, @event), 
                method: :delete, class: "button ui mt-1" %>
        <% end %>
        <% if current_user && current_user == @event.organizer %>
          <div class="my-1"><%= link_to "Edit Event", edit_event_path(@event.id), class:"ui button" %></div>
          <div><%= button_to "Delete Event", event_path(@event.id), method: :delete, class:"ui button" %></div>
        <% end %>
      </div>
      <%# left ends %>
    </div>
    <div class="col-4 col-md-4 col-sm-6">
      <%# right starts %>
      <% if @event.attendees.any? %>
        <div class="container card shadow p-3 mb-5 bg-white rounded m-4" style='width: 25em'>
          <h1 class="m-2">Attendees</h1>
          <%# --------attendees start ----------%>
          <div class=" container p-2" >
            <div class="ui comments">
              <% if @event.attendees.each do |attendee| %>
                <div class="comment m-1">
                  <a class="avatar">
                    <img src="<%= attendee.profile_img_url %>">
                  </a>
                  <div class="content">
                    <a class="author">
                      <%= link_to user_path(attendee), class:"text-dark " do %>
                        <%= attendee.full_name%>
                      <% end %>
                    </a>
                    <div class="text">
                      <%= attendee.created_at.strftime("Joined %B %Y") %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <%# --------attendees ends ----------%>
      </div>
    <% end %>
    <%# right ends %>
  </div>
</div>
</div>
<script>
  //This is to create the map
  //see this documentation: https://github.com/apneadiving/Google-Maps-for-Rails

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
      {
      "lat": <%= @event.latitude %>,
      "lng": <%= @event.longitude %>,
      "picture": {
          "width":  2,
          "height": 2
      },
      "infowindow": "<%= @event.location %>"
      }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(8); //we are adding this to zoom in a bit
  });
</script>
