<!DOCTYPE html>
<html>
  <head>
    <title>FriendMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
      <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--Google Map  -->
     <script  src="//maps.googleapis.com/maps/api/js?key=AIzaSyAOmKL4FlQWdZeKjcZ5hGGkj2F6MXMMppQ"></script>
    <script  src="//cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.min.js"></script>
    <script  src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'>  </script>
    <script  src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'>  </script>
    <%# Website Icon %>
    <link rel="icon" href="https://uc5e7fc1b8b733c712078e7a95ab.previews.dropboxusercontent.com/p/thumb/ABp1M7SQSrI90As5VRmbSRw5xWE_30XDKdyqnyPHPr_SQSCnTkmhKT-W0cykQJhjKmWciJEO0IwyLFRKcNYzRhXx0-0nVieeY6IfZ4JoPkAKfP1LU10fGau1xm2h0TAXxsvTAvw9vposa_09vhH6ssMVbhJMsSrRyjs_wgFlB7su3E6wZlcIMVkjXagqmlQzjuNKg-7gvXS-Y-_w9iW_ruDkmSV_dTb-rJ4oQvZUZF7fsECixag0z9riuLpXy8GbO7KPN18rssIkv5duivElvp1lN7Hm97w5sMcpoil6vrRizgve219rPyRng8NVU0ILAxfRRjISsBQ47VW4aifBlup8wINkT_vFY6GL2c7iyf40Uz9Qy15JCMpznyj1-cMu_DuBoTxGCEnJ5uvDJgu6icNR_XjE8WxGbRbDB34q_HoBoQ/p.png" />
  <body>

<style>


.hero {
  background-image: url("https://images.pexels.com/photos/708392/pexels-photo-708392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}

footer {
    /* background-color: #1f2937; */
    background-color: black;
    color: #F9FAF8;
}

body, .hero {

height: 100%;


}

#hero-main-text {
  padding-top: 1em;
 font-size: 2.3em
}
#hero-secondary-text {
  font-size: 1.12em
}

/*Footer*/
footer {
    height: 3em;
    text-align: center;
    padding: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
</style>




   <div class="container-fluid" id="banner">
        <nav class="navbar navbar-expand-lg navbar-light">
           <div class="container-fluid d-flex p-0">

            <div class="container">

              <a class="navbar-brand fw-bold fw-bold primary" href="<%= root_path %>">FriendMe<i class="child icon"></i></a>

            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navtoggler" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="box-shadow: none !important;">
            <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navtoggler" >
            <%# Search bar %>
            <div class="container mr-5" style="width: 30em">
              <%= render 'search/form' %>
            </div>
              <ul class="navbar-nav d-flex justify-content-end" style="width: 27em">
              
                <% if user_signed_in? %>
                <li class="nav-item m-1">
                  <a class="nav-link text-dark" href="<%= groups_path %>">Groups</a>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link text-dark" href="<%= users_path %>">Users</a>
                </li>
                   <li class="nav-item m-1">
                  <a class="nav-link position-relative" href="<%= show_user_panel_path %>">
                    Hi <%= current_user.first_name %>
                  </a>
              </li>


                <li class="nav-item m-1">
                 <div class="ui compact menu" style="position: relative; border: none !important">
                    <a class="item" href="<%= show_user_panel_path %>">
                      <i class="icon users"></i>


                      <% if current_user.pending_invitations.count > 0 %>
                      <div class="floating ui teal label"><%=current_user.pending_invitations.count %></div>
                      <% end %>


                    </a>
                  </div>
                </li>

              <li class="nav-item m-1 ms-2">
                <%= button_to "Log out", sessions_path, method: :delete, class: "ui primary button" %>
              </li>
                <% else %>
                <%# Sign In & Sign Up %>
                <li class="nav-item">
                    <a class="btn btn-link nav-link text-dark " href="<%= new_sessions_path %>">Sign In</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="btn btn-link nav-link text-dark " href="<%= new_user_path %>">Sign Up</a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="d-flex flex-row-reverse">
    <% flash.each do |type, message| %>
      <div class="ui floating message alert alert-success alert-dismissible" role="alert">
      <i class="bell icon"></i>
       <%= type.capitalize() + ": " + message %> 
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% end %> 
    </div>
   


    <%= yield %>
    <footer>
        <span>Copyright ©  FriendMe<i class="child icon"></i>2022</span>
    </footer>
     <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
